
body
{
    outline: none;
    margin: 0;
    padding: 0;
}

.tete
{
    margin-left:  46%;
    margin-top: 20px;
    border: solid black 3px;
    width: fit-content;
    height: fit-content;
    border-radius: 100%;
    padding: 10px;
}

img
{
    height: 100px;
}

.shesh
{
    background-color: black;
    width: 80%;
    height: 3px;
    margin:auto;
}

label
{
    margin: 0;
    padding: 0;
    margin-top: 30px;
    display: inline-block;
}

.bloc_boss
{
    max-width: 40vw;
    margin: auto;
    margin-top:40px ;
    transform: scale(1.3,1.3);
    background-color: #eb4034;
    color: white;
    padding: 25px 15px;
    border-radius: 25px;
    /* margin-left: 10px; */
}

h1
{
    text-align: center;
    color: #3064A4;
}

input:focus
{
    outline: none;
}

button
{
    width: 100px;
    margin-left: 40vw;
    padding: 15px 25px;
    margin-top: 50px;
    background-color: rgb(223, 126, 22);
    border: none;
    border-radius: 25px;
    transform: scale(1.3,1.3);
    color: white;
    cursor: pointer;

}

button:hover
{
    transform: scale(1.6,1.6);
    transition: all 0.5s ease 0s;
}

.flex
{
    display: flex;
    justify-content: center;
}